 GeneratedFiles/
        QStreamDecoder.cpp
        QStreamDecoder.h
        QTFFmpegWrapper/
        ShrinkableQLabel.cpp
        ShrinkableQLabel.h
        bbqScreenForm.cpp
        bbqScreenForm.h
        bbqScreenForm.ui
        capScreenForm.cpp
        capScreenForm.h
        capScreenForm.ui
        comSPHandler.cpp
        comSPHandler.h
        frame.png
        main.cpp
        prebuilts/
        qtCyberDip.vcxproj
        qtCyberDip.vcxproj.filters
        qtCyberDip.vcxproj.user
        qtcyberdip.cpp
        qtcyberdip.h
        qtcyberdip.qrc
        qtcyberdip.ui
        stdafx.cpp
        stdafx.h
        vodPlayer.cpp
        vodPlayer.h
